@charset "UTF-8";
/* CSS Document */

body {
    padding-top: 50px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- addition */

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- navbar */

.navbar-default {
    background-color: #f96464;
    border: none;
}

.navbar-default .navbar-brand {
	/* background: #fff; */
	height: auto;
	line-height: inherit;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	position: relative;
}

.navbar-default .navbar-brand>div {    
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0.5em 0;
    z-index: 2;
    width: 100px;
    text-align: center;
   /*  font-size: 17px; */
    background: #ffeccb;
}

.navbar-default .navbar-brand>div:after{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 0;
    border-left: 50px solid #ffeccb;
    border-right: 50px solid #ffeccb;
    border-bottom: 10px solid transparent;
}

.navbar-default .navbar-brand:hover {
	background: none;
}

.navbar-default .navbar-brand img {
	height: 40px; /* */
	width: auto;
	display: block;
	margin: 0 auto;
}

.navbar-default .navbar-nav {
	padding: 0.3em 0 0.2em;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ffb636;
}

.navbar-toggle {
    margin-top: 12px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- section common */

section {
	padding: 4em 0;
}

section div.headline {
	text-align: center;
}

section div.headline h2 {
	color: #f96464;
	font-weight: bold;
	display: inline-block;
	/* border-top: 3px solid #f96464;	
	border-bottom: 3px solid #f96464; */
	padding: 0.2em 0;
	margin-bottom: 2em;
}

/*
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- section main-visual */

section.main-visual {
	background: url(../img/main-visual.png);
	background-size: cover;
	height: 550px;
	position: relative;
}

section.main-visual div.copy {
	width: 600px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%)
}

section.main-visual div.copy img {
	width: 100%;
}

/*
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- section about */

section.about {

}

section.about div.h3.description {
	line-height: 1.8;
	margin-bottom: 80px;
}

section.about div.figure {
	position: relative;
	border: 5px solid  #ddd;
	box-sizing: border-box;
	padding: 40px;
	border-radius: 10px;
}

section.about div.figure div.seal {
	position: absolute;
	width: 200px;
	height: 200px;
	background: #f96464;
	display: block;
	border-radius: 1000px;
	top: -100px;
}

section.about div.figure div.seal div.text {
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 100%;
}

section.about div.figure img {
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: block;
}

/*
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- section flow */

section.flow {
	background: #ffeccb;
	
}

section.flow div.icon img {
	width: 30%;
	
}

section.flow div.flow-box {
	background: #f8f8f8;
	padding: 2em;
	float: left;
	width: 49%;
	margin-right: 2%;
	box-sizing: border-box;
	border-radius: 5px;
	line-height: 1.7;
}

section.flow div.flow-box:last-child {
	margin-right: 0;
}


section.flow div.flow-box div.title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 0.5em;
}

section.flow div.flow-box span.number {
	font-size: 30px;
	font-weight: bold;
}

section.flow div.flow-box.request div.title span.number {	color: #e76564; }
section.flow div.flow-box.worker div.title span.number {	color: #ffb636; }

section.flow div.flow-box div.description {
	font-size: 16px;
}

section.flow div.flow-box div.link {
	font-size: 18px;
	font-weight: bold;
}

/*
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- section service-list */

section.service-list {

}

section.service-list div.survice-column {
	float: left;
	width: 12.5%;
}



/*
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- message */



div.message {
	margin-top: 10px;
}

div.message div.article {
	padding: 1em;
	margin-bottm: 1em;
	display: table;
	box-sizing: border-box;
	width: 100%;
	line-height: 1.5;
}

div.message div.article div.name {
	display: table-cell;
	width: 15%;
	vertical-align: middle;
	text-align: center;
	color: #0037a0;
	font-weight: bold;
}

div.message div.article div.name img {
	width: 70px;
	height: 70px;	
}

div.message div.article div.wrap {
	display: table-cell;
	width: 85%;
	background: #f2f5fa;
	padding: 1em;
	box-sizing: border-box;
	position: relative;
	border-radius: 5px;
	/* border: 1px solid #dcdcdc; */
	
}

div.message div.article.me div.wrap:after {
	content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-right-color: #f2f5fa;
    left: -20px;
    top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 1;
}


div.message div.article.you div.wrap:after {
	content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-left-color: #f2f5fa;
    left: 100%;
    top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 1;
}

div.message div.article div.wrap div.title {
	font-weight: bold;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 14px;
	color: #444;
}

div.message div.article div.wrap div.contents {
	margin-bottom: 0.5em;
	word-break: break-word;
	word-break: break-all;
	overflow-wrap: break-word;
}

div.message div.article div.wrap>div.clearfix {
	border-top: 1px solid #c3d5e5;
	padding-top: 0.4em;
	overflow: hidden;
	width: 100%;
}

div.message div.article div.attachments {
	padding: 0;
	float: left;
	font-size: 1.3rem;
	margin: 0 1% 0 0;
}

div.message div.article div.attachments a {
	color: #3594e5;
	/* background: #3594e5; */
	padding: 0.2em 0.5em;
	border-radius: 100px;
}

div.message div.article div.attachments a:hover {
	text-decoration: none;
}

div.message div.article div.attachments img {
	width: 14px;
	height: 14px;
	vertical-align: middle;
}

div.message div.article div.wrap div.update {
	float: right;
	font-size: 1.1rem;
}



/*
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- review */



.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;

}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
  margin-top:-8px;
}



/*
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- footer */

.footer {
  padding-top:20px;
  padding-bottom:10px;
  background-color: #2d2d2d;
  color:#ccc;
}

.footer ul.utility {
  list-style:none;
  padding-left:0;
}
.footer li {
  text-align:left;
  padding-bottom:5px;
}

.footer li a {
  color: #999;
  padding-right:10px;
}

.footer li.contact {
  padding-bottom:15px;
}

.footer li.contact a {
  font-weight:bold;
  color: #fff;
}

.footer .credit {
  margin-top:15px;
}


.footer span.copyright {
  text-align:center;
  width:100%;
  display:block;
}

.footer .title {
  color: #fff;
  font-weight:bold;
  margin-bottom:20px;
}

.footer .description {
  font-size:0.8em;
  text-align:left;
}


/*
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------- additions */


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- common */

.w5 { width: 5%; }
.w10 { width: 10%; }
.w15 { width: 15%; }
.w16 { width: 16%; }
.w20 { width: 20%; }
.w22 { width: 22%; }
.w24 { width: 24%; }
.w25 { width: 25%; }
.w28 { width: 28%; }
.w30 { width: 30%; }
.w32 { width: 32%; }
.w40 { width: 40%; }
.w45 { width: 45%; }
.w49 { width: 49%; }
.w50 { width: 50%; }
.w51 { width: 51%; }
.w55 { width: 55%; }
.w60 { width: 60%; }
.w68 { width: 68%; }
.w70 { width: 70%; }
.w72 { width: 72%; }
.w75 { width: 75%; }
.w76 { width: 76%; }
.w78 { width: 78%; }
.w80 { width: 80%; }
.w84 { width: 84%; }
.w85 { width: 85%; }
.w90 { width: 90%; }
.w95 { width: 95%; }
.w100 { width: 100%; }

.tc {
	text-align: center;
}

.tl {
	text-align: left;
}

.tr {
	text-align: right;
}

.vt {
	vertical-align: top;
}

.vm {
	vertical-align: middle;
}

.vb {
	vertical-align: bottom;
}

.m_o0 { margin-top: 0 !important; }
.m_o1 { margin-top: 1% !important; }
.m_o2 { margin-top: 2% !important; }
.m_o4 { margin-top: 4% !important; }

.m_l0 { margin-left: 0 !important; }
.m_l1 { margin-left: 1% !important; }
.m_l2 { margin-left: 2% !important; }
.m_l4 { margin-left: 4% !important; }

.m_r0 { margin-right: 0 !important; }
.m_r1 { margin-right: 1% !important; }
.m_r2 { margin-right: 2% !important; }
.m_r4 { margin-right: 4% !important; }

.m_u0 { margin-bottom: 0 !important; }
.m_u5 { margin-bottom: 5px !important; }
.m_u10 { margin-bottom: 10px !important; }
.m_u20 { margin-bottom: 20px !important; }
.m_u30 { margin-bottom: 30px !important; }
.m_u40 { margin-bottom: 40px !important; }
.m_u50 { margin-bottom: 50px !important; }
.m_u60 { margin-bottom: 60px !important; }
.m_u80 { margin-bottom: 80px !important; }

.fl {
	float: left;
}

.fr {
	float: right;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

/* 中央揃え */

.outbox {
	position: relative;
}

.outbox .inbox {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);	
	transform: translate(-50%, -50%);
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- .button */	
/* .button .default */

.button {
	background: #44aeeb;
	display: block;
	padding: 0.5em 1em;
	border-radius: 5px;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	transition: all 0.1s ease-in-out;
	
	cursor: pointer;
	
	
    position: relative;
    z-index: 2;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
	
	border: none;
	white-space: nowrap;
	
	text-decoration: none !important;

}


.button.inline {
	display: inline-block;
}

/* btn color */
.button.default {
	background: #eee;	
    color: #111;
}

.button.red {
    background: #e76564;
	color: #fff;
	box-shadow: 0 4px 0 0 rgba(207,90,89,1);
}

.button.purple {
    background: #cf8ae5;
	color: #fff;
}

.button.blue {
    background: #4b8efa;
	color: #fff;
}

.button.green {
    background: #6dcc54;
	color: #fff;
}

.button.yellow {	
    background: #ffb636;
	color: #333;
	box-shadow: 0 4px 0 0 rgba(229,163,48,1);
}

.button.orange {	
    background: #f39800;
	color: #333;
	box-shadow: 0 4px 0 0 rgba(213,133,0,1);
}

.button.gray {
    background: #f1f1f1;
	color: #333;
	box-shadow: 0 4px 0 0 rgba(217,217,217,1);
}

.button:hover {
	opacity: 0.9;
}

.button:active {
	box-shadow: 0 0 0 0;
	top: 4px;
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- column Layout */

ul.column2, 
ul.column3, 
ul.column4, 
ul.column5, 
ul.column6, 
ul.column7, 
ul.column8, 
ul.column9 {
	margin: 0;
} 

ul.column2 li::before, 
ul.column3 li::before, 
ul.column4 li::before, 
ul.column5 li::before, 
ul.column6 li::before, 
ul.column7 li::before, 
ul.column8 li::before, 
ul.column9 li::before {
    background: none;
    border-radius: 0;
    content: "";
    height: 0;
    left: 0;
    margin: 0;
    position: relative;
    top: 0;
    transition: none;
    width: 0;
}

ul.column2 li, 
ul.column3 li, 
ul.column4 li, 
ul.column5 li, 
ul.column6 li, 
ul.column7 li, 
ul.column8 li, 
ul.column9 li {
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
	margin-bottom: 2.87%;
}

/* .column2 */
ul.column2 li {  width: 48.56%;  margin-right: 2.88%;}
ul.column2 li:nth-child(2n) {  margin-right: 0;}
/* .column3 */
ul.column3 li {  width: 31.42%;  margin-right: 2.87%;}
ul.column3 li:nth-child(3n) {  margin-right: 0;}
/* .column4 */
ul.column4 li {  width: 22.84%;  margin-right: 2.88%;}
ul.column4 li:nth-child(4n) {  margin-right: 0;}
/* .column5 */
ul.column5 li {  width: 17.68%;  margin-right: 2.9%;}
ul.column5 li:nth-child(5n) {  margin-right: 0;}
/* .column6 */
ul.column6 li {  width: 14.25%;  margin-right: 2.9%;}
ul.column6 li:nth-child(6n) {  margin-right: 0;}
/* .column7 */
ul.column7 li{  width: 11.8%;  margin-right: 2.9%;}
ul.column7 li:nth-child(7n) {  margin-right: 0;}
/* .column8 */
ul.column8 li {  width: 9.98%;  margin-right: 2.88%;}
ul.column8 li:nth-child(8n) {  margin-right: 0;}
/* .column9 */
ul.column9 li {  width: 8.56%;  margin-right: 2.87%;}
ul.column9 li:nth-child(9n) {  margin-right: 0;}



.wrap {
	overflow: hidden;
}

@media only screen and (max-width: 768px)
{
.default
    {
        display: none;
    }
    .responsive
    {
        display: block;
    }
	
	.resp_fs1 { font-size: 0.resp_8rem !important; }
	.resp_fs2 { font-size: 1.resp_0rem !important; }
	.resp_fs3 { font-size: 1.resp_2rem !important; }
	.resp_fs4 { font-size: 1.resp_3rem !important; }
	.resp_fs5 { font-size: 1.resp_4rem !important; }
	.resp_fs6 { font-size: 1.resp_8rem !important; }
	.resp_fs7 { font-size: 2.resp_4rem !important; }
	.resp_fs8 { font-size: 3.resp_6rem !important; }
	.resp_fs9 { font-size: 4.resp_8rem !important; }
	
	.resp_w5 { width: 5%; }
	.resp_w10 { width: 10%; }
	.resp_w15 { width: 15%; }
	.resp_w16 { width: 16%; }
	.resp_w20 { width: 20%; }
	.resp_w22 { width: 22%; }
	.resp_w24 { width: 24%; }
	.resp_w25 { width: 25%; }
	.resp_w28 { width: 28%; }
	.resp_w30 { width: 30%; }
	.resp_w32 { width: 32%; }
	.resp_w40 { width: 40%; }
	.resp_w45 { width: 45%; }
	.resp_w49 { width: 49%; }
	.resp_w50 { width: 50%; }
	.resp_w51 { width: 51%; }
	.resp_w55 { width: 55%; }
	.resp_w60 { width: 60%; }
	.resp_w68 { width: 68%; }
	.resp_w70 { width: 70%; }
	.resp_w72 { width: 72%; }
	.resp_w75 { width: 75%; }
	.resp_w76 { width: 76%; }
	.resp_w78 { width: 78%; }
	.resp_w80 { width: 80%; }
	.resp_w84 { width: 84%; }
	.resp_w85 { width: 85%; }
	.resp_w90 { width: 90%; }
	.resp_w95 { width: 95%; }
	.resp_w100 { width: 100%; }
	
	.resp_tc {
		text-align: center;
	}
	
	.resp_tl {
		text-align: left;
	}
	
	.resp_tr {
		text-align: right;
	}
	
	.resp_vt {
		vertical-align: top;
	}
	
	.resp_vm {
		vertical-align: middle;
	}
	
	.resp_vb {
		vertical-align: bottom;
	}
	
	.resp_m_o0 { margin-top: 0 !important; }
	.resp_m_o1 { margin-top: 1% !important; }
	.resp_m_o2 { margin-top: 2% !important; }
	.resp_m_o4 { margin-top: 4% !important; }
	
	.resp_m_l0 { margin-left: 0 !important; }
	.resp_m_l1 { margin-left: 1% !important; }
	.resp_m_l2 { margin-left: 2% !important; }
	.resp_m_l4 { margin-left: 4% !important; }
	
	.resp_m_r0 { margin-right: 0 !important; }
	.resp_m_r1 { margin-right: 1% !important; }
	.resp_m_r2 { margin-right: 2% !important; }
	.resp_m_r4 { margin-right: 4% !important; }
	
	.resp_m_u0 { margin-bottom: 0 !important; }
	.resp_m_u5 { margin-bottom: 5px !important; }
	.resp_m_u10 { margin-bottom: 10px !important; }
	.resp_m_u20 { margin-bottom: 20px !important; }
	.resp_m_u30 { margin-bottom: 30px !important; }
	.resp_m_u40 { margin-bottom: 40px !important; }
	.resp_m_u50 { margin-bottom: 50px !important; }
	.resp_m_u60 { margin-bottom: 60px !important; }
	.resp_m_u80 { margin-bottom: 80px !important; }
	
	.fl,
	.fr {
		float: none;
	}
	
	.resp_fl {
		float: left;
	}
	
	.resp_fr {
		float: right;
	}
	
	.resp_center {
		margin-right: auto;
		margin-left: auto;
	}
}

/*
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- other */


.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}